.mainLayout{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--bg-gradient-start), var(--bg-gradient-end)); 
    box-sizing: border-box;
    padding: 1.7rem;
    gap: 1.5rem;
}

.mainLayout main{
    flex: 1;
    max-height: 100vh;
    display: flex; /* Ajoutez ceci */
    flex-direction: column; /* Ajoutez ceci */
    overflow: hidden; /* Ajoutez ceci pour éviter le débordement */
}

.mainLayout main h2{
    margin-top: 0;
}


@media (max-width: 768px) {
    .mainLayout{
        flex-direction: column;
    }
}