:root{
  --bg-gradient-start: #E1EAFF; 
  --bg-gradient-end: #B3C0E2;
  --red-text : #D33F3F; 
  --red-bg : #ECDADA; 
  --identity-blue: #667CEC; 
  --dark-gray : #797979; 
  --light-gray : #ececec; 
  --input-gray: #a7a7a725;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}